div {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
  }
  
  .card {
    background-color: #F5F5F5;
    padding: 20px;
    position: relative;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .content h3{
    padding: 0;
  }
  
  
  .votes-section {
    width: 5%;
  }
  .votes-section p{
    font-size: small;
    padding: 0px;
  }
  .card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12x;
  }
  
  .Card-date {
    font-size: small;
  }
  .votes-section {
    margin-top: 0px;
  }
  
  .votes-section button {
    border: none;
    cursor: pointer;
    color: rgb(157, 242, 255);
    font-weight: 1200;
  }
  
  .comment-section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    width: 90%;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .deleteButton{
    color: black;
  }