.Card {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .Card-link {
    text-decoration: none;
  }
  
  .Card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Card-title {
    margin: 0;
    font-size: 1.5rem;
    color: #232323;
    padding-top: 10px;
  }
  
  .Card-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #666;
  }

  
  .Card-date {
    margin: 0;
    margin-right: 1rem;
  }
  
  .Card-votes {
    margin: 0;
  }
  
  .Card-content {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
  }
  
  .Card-footer {
    margin-top: 1rem;
  }
  
  .Card-footer a {
    color: #2b2b2b;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .Card-footer a:hover {
    text-decoration: underline;
  }
  